/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-image: url('lat8.JPG');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 100px 20px;
}

.header h1 {
    font-size: 48px;
}

/* Playlist */
.playlist {
    text-align: center;
    padding: 20px;
}

.player {
    margin: 20px auto;
}

.controls button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

/* About */
.about {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

/* Curiosidades */
.curiosidades {
    padding: 20px;
    text-align: center;
}

.curiosidades .paises {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pais img {
    width: 150px;
    height: 100px;
    transition: transform 0.3s;
}

.pais img:hover {
    transform: scale(1.1);
}

/* Categorias */
.categorias {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

/* Botão para o topo */
.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 20px;
}
